.avatar-container {
    background-color: rgba(78, 30, 97, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 10px;
}
.avatar-wrapper {
    display: flex;
    align-items: center;
}
.post-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.post-container span {
    font-size: 20px;
    margin-bottom: 5px;
}
.comment-container {
    background-color: rgba(78, 30, 97, 0.8);
    display: flex; 
    padding: 10px ;
    margin-bottom: 10px;
}
.name {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    margin-right: 10px;
    color: #FFF;
    letter-spacing: 2px;
    font-size: 18px;
}